<footer>
    <p>
        Copyright © 2016-2019 G. Wagner, M. Diaconescu and L.G. Nardin, Brandenburg University of Technology, Germany
        <br/>
        <a href="about-us.html">About Us</a> | <a href="privacy-policy.html">Privacy Policy</a>
    </p>
</footer>