<% if (page.layout==='sims')  { %>
    <noscript>
        <p>Please turn on JavaScript in your browser. Otherwise you cannot run Sim4edu simulations.</p>
       </noscript>
       <script src="metadata.js"></script>
       <script src="../framework/frontMatter.js"></script>
       <!-- load common core JS code files -->
       <script src="../framework/simulator-core.js" async="async"></script>
       <script src="../framework/chartist.js" async="async"></script>
       <!-- load scenario.js and all files required by it, and set up the user interface -->
       <script src="../loadManager.js"></script>
       <!-- load scenario.js and all files required by it, and set up the user interface -->
<%} else {%> 
    <% if (page.layout==='description')  { %>
        <p><a href="index.html">Back to simulation</a></p>
    <%} else {%> 
        <footer>
            <p>Copyright © 2016-2019 G Wagner, M. Diaconescu and L.G. Nardin, Brandenburg University of Technology, Germany
            <br/>
            <a href="about-us.html">About Us</a> | <a href="privacy-policy.html">Privacy Policy</a>
            </p>
        </footer>
    <%} %>
<%} %>