 <div id="frontMatter">
    <h1><span><%- page.title %></span><a href="index.html">Back to simulation</a></h1>
    <p><strong>Classification tags</strong>: business operations management, DES, next-event time progression</p>
    <figure class="right"><img src="media/img/theme-image.svg" alt width="240"></figure>
    <section id="shortDescription"></section>
</div>