<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" >
<%- partial('partial/head') %>

<% if (page.layout==='description') { %>
        <body onload="oes.ui.setupDescription()">
    <%} else {%>  
        <body>
    <%} %>
        <%- partial('partial/header') %>
        <%- body %>
        <%- partial('partial/footer') %>
</body>
</html>